<% if !user_signed_in? %>
	<div class="jumbotron">
		<h1>Your Favourite Movies Reviewd</h1>
		<p>Fascinating and well-acted, "Walk the Line"'s mythologizing of Johnny Cash is never very surprising (though Phoenix's performance is frequently remarkable).</p>
		<p><%= link_to "Sign Up to review a movie", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
	</div>
<% end %>
<div class="row">
  <% @movies.each do|movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>
